/* Variáveis de cores */
:root{
    /* Preto e branco */
    --white: #fff;
    --black: #000;
    /* Tons de azul escuro*/
    --darkBlue800: #212733;
    --darkBlue600: #1f242e;
    --darkBlue500: #2c303b;
    --darkBlue400: #292d39;
    --darkBlue300: #2b3240;
    /* Ton de azul */
    --blue400: #44557a;
    /* Tons de cinza */
    --gray500: #4e4e4c;
    --gray400: #ccc5bb;
    --gray300: #cdc6bc;
    --gray200: #ebe6de;
}
/* Padronizador geral */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Início da estilização da Header */
.header{
    background-color: var(--darkBlue800);
}
/* Estilizando o header container */
.container{
    max-width: 75rem;
    margin: 0 auto;
    padding: 0 0.5rem;
}
/* Estilizando a ul menu */
.menu{
    /* Tornando a ul menu em flex-box */
    display: flex;
    list-style: none;
    /* Estilizando a ul flex-box */
    align-items: center;
    justify-content: space-between;
}
/* Estilizando os ul li's */
.menuItem{
    width: 100%;
    cursor: pointer;
}
.menuItem:hover{
    background-color: var(--darkBlue300);
}
/* Estilizando os links */
.menuLink{   
    /* Estilização dos textos do link */
    text-decoration: none;
    color: var(--white);
    /* Tornando o a em, flex-box*/
    display: flex;
    /* Alterando as propriedades flex */
    align-items: center;
    gap: 0.8rem;
    padding: 1.2rem;
}
.menuImg{
    background-color: var(--gray500);
    padding: .5rem;
    border-radius: 50%;
    display: flex;
}
.menuInfo p{
    font-weight: bold;
}
.menuInfo span{
    font-size: 0.9rem;
}
.menuItem button{
    padding: 0.5rem 2rem;
    border-radius: 8px;
    font-weight: bold;
    border: none;
}
/* Início da estilização da barra de navegação */
/* estilizando a logo */
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.6rem;
    gap: 1rem;
}
.navbarBrand a{
    color: var(--black);
    text-decoration: none;
}
.navbarBrand p{
    font-size: 3rem;
    font-weight: bold;
    text-decoration: underline;
}
.navbarBrand span{
    margin-top: 0;
    font-size: 0.9rem;
}
/* Estilizando a lista de navegação */
.navList{
    margin-left: auto;
}
.navbarNav{
    display: flex;
    list-style: none;
    gap: 1rem;
}
.navItem{
    text-transform: uppercase;
}
.navLink{
    color: var(--darkBlue300);
    text-decoration: none;
    font-size: 0.875;
    font-weight: bold;
}
.navButton button{
    border: none;
    background-color: var(--darkBlue300);
    border-radius: 8px;
    color: var(--gray200);
    text-transform: uppercase;
    font-weight: bold;
    padding: 0.6rem 1rem;
}
/* Estilizando a área parte principal */
/* Estilizando o hero da aplicação */
.hero{
    background-image: url(../assets/img/cytonn-photography-n95VMLxqM2I-unsplash.png);
    height: 70vh;
    background-repeat: no-repeat;
    background-position: top center, right;
    background-size: cover;
}
.heroInfo{
    padding-top: 3rem;
    width: 60%;
}
.heroInfo h1{
    color: var(--darkBlue800);
    margin: 2rem 0 1rem 0;
    font-size: 2.5rem;
    line-height: 90%;
}
.heroInfo p{
    color: var(--darkBlue800);
    font-size: 1rem;
    line-height: 1.4;
    margin: 1.4rem 0;
}
.heroInfo span{
    font-weight: bold;
}
.heroInfo a{
    background-color: var(--darkBlue300);
    color: var(--white);
    margin-top: 0.3rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.7rem 1rem;
    cursor: pointer;
    border-radius: 4px;
    text-decoration: none;
}
/* Estilizando a section "boxes" da aplicação */
.boxes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: var(--white)
}
.box{
    background-color: var(--darkBlue300);
    width: 31.5%;
    border-radius: 2px;
    padding: 0 1.6rem;
    position: relative;
    bottom: 4rem;
}
.boxImg{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    background-color: var(--darkBlue300);
    box-shadow: 4px 4px 0 0 rgba(255, 255, 255, 1);
    border-radius: 50%;
    position: relative;
    bottom: 1.1rem;
}
.boxImg img{
    width: 40px;
}
.box h3{
    text-transform: uppercase;
    margin: 0.3rem 0;
}
.box p{
    line-height: 1.6;
    margin: 2rem 0.4rem;
    
}
/* Estilizando a "sessão da aplicação */
.services{
    text-align: center;
    margin: 1rem 0.2rem;
}
.services h2{
    font-size: 2.2rem;
    color: var(--darkBlue300);
    text-transform: uppercase;
}
.services p{
    font-size: 1.2rem;
    color: var(--darkBlue300);
}
.portfolio{
    display: flex;
    flex-wrap: wrap;
}
.portfolioBox{
    width: 33%;
    min-height: 13rem;
    margin: 1rem 0 0;
    padding: 2rem 1rem 0;
    display: flex;
    align-items: flex-start;
}
.portfolioImg{
    background-color: var(--gray200);
    width: 4rem;
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    margin-right: 1rem;
    border-radius: 8px;
}
.portfolioImg img{
    width: 50px;
}
.portfolioText{
    color: var(--darkBlue300);
    line-height: 1.3;
}
.portfolioText h3{
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}
.portfolioText p{
    margin-bottom: 1rem;
}
.portfolioText a{
    text-decoration: none;
    color: var(--blue400);
}
