.cartaVerde, .cartaVermelha, .cartaAzul, .cartaAmarela, .cartaRoxa, .cartaRosa{
    height: 50px;
    width: 50px;
    background-color: gainsboro;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}
.cartaAmarela:active{
    background-color: #ff0;
}
.cartaAzul:active{
    background-color: #00f;

}
.cartaRoxa:active{
    background-color: #80f;
}
.cartaRosa:active{
    background-color: #f68;
}
.cartaVerde:active{
    background-color: #0f0;
}
.cartaVermelha:active{
    background-color: #f00;
}
body{
    background-color: black;
}
.mesa{
    
    background-color: gray;
    display: flex;
    flex-wrap: wrap;
    width: 240px;
}

